# Entorno / Environment
.env
.venv/
venv/
env/

# Python
__pycache__/
*.py[cod]
*.egg-info/
.pytest_cache/

# Django
db.sqlite3
db.sqlite3-journal
staticfiles/
media/
*.log

# Editores / Editors
.vscode/
.idea/
*.swp

# Sistema operativo / OS
Thumbs.db
desktop.ini
.DS_Store
